In [111]:
import pandas as pd
import numpy as np

In [112]:
d = {"pomidor",
     "ogorek",
     "banan",
     "jablko",
     "ananas",
     "burak",
     "truskawki",
     "jalapeno",
     "ziemniaki",
     "kalarepa"}

E = {"swieze":[0,0,0,0,1,1,0,1,1,1], 
     "mrozone":[0,0,0,0,0,0,0,0,0,1],
     "ostre":[0,0,0,0,0,0,1,0,0,0],
     "slodkie":[1,0,1,0,0,0,0,1,0,1],
     "zielone":[0,1,0,1,1,0,1,0,1,0],
     "czerwone":[0,0,0,0,0,1,0,1,0,1],
     "lokalne":[1,1,0,0,1,1,0,1,0,1],
     "tropikalne":[0,0,1,1,0,0,1,0,0,0],
     "lisciaste":[0,0,0,0,0,0,0,0,1,0], 
     "bulwowe":[1,0,0,0,1,1,0,0,1,0]}

df = pd.DataFrame(data=E,index=d)
df

,swieze,mrozone,ostre,slodkie,zielone,czerwone,lokalne,tropikalne,lisciaste,bulwowe
ziemniaki,0,0,0,1,0,0,1,0,0,1
jablko,0,0,0,0,1,0,1,0,0,0
ananas,0,0,0,1,0,0,0,1,0,0
banan,0,0,0,0,1,0,0,1,0,0
ogorek,1,0,0,0,1,0,1,0,0,1
burak,1,0,0,0,0,1,1,0,0,1
jalapeno,0,0,1,0,1,0,0,1,0,0
pomidor,1,0,0,1,0,1,1,0,0,0
kalarepa,1,0,0,0,1,0,0,0,1,1
truskawki,1,1,0,1,0,1,1,0,0,0

In [113]:
# Preferencje klientow
A = ["swieze","ostre","czerwone"]
B = ["mrozone", "zielone","slodkie", "lisciaste"]
C = ["swieze", "zielone", "czerwone", "slodkie"]

In [115]:
class Owocomania():

    def __init__(self):
        self.df = df
        self.rodzaje = {}
        for i, v in enumerate(self.df.columns[1:]):
            self.rodzaje[v] = i

    def Dopasowanie(self, weights):
        self.toValues(weights)
        wynik = []
        for v in self.df.values:
            wynik.append([sum(v[1:]*self.weights), v[0]])
        wynik.sort(key=lambda x:-x[0])
        print(wynik[0])

    def toValues(self, rodzaje):
        self.weights = []
        for i in self.rodzaje.keys():
            if i in rodzaje:
                self.weights.append(1)
            else:
                self.weights.append(0)   
            

a = Owocomania()
print(*A, sep=", ")
a.Dopasowanie(A)

print(*B, sep=", ")
a.Dopasowanie(B)

print(*C, sep=", ")
a.Dopasowanie(C)

swieze, ostre, czerwone
[1, 1]
mrozone, zielone, slodkie, lisciaste
[2, 1]
swieze, zielone, czerwone, slodkie
[2, 1]